@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Dosis:wght@200..800&family=Fauna+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sedan:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0; }
  * ::-webkit-scrollbar {
    width: 6px;
    /* Ancho de la barra de desplazamiento */ }
  * ::-webkit-scrollbar-track {
    background-color: #000000a1;
    /* Color de fondo de la pista de desplazamiento */ }
  * ::-webkit-scrollbar-thumb {
    background-color: #fdfdfd;
    /* Color del botón de desplazamiento */
    border-radius: 5px;
    /* Radio de borde del botón de desplazamiento */ }

body {
  background-color: black;
  color: rgba(255, 255, 255, 0.813);
  overflow-x: hidden;
  transition: all 0.8s ease-in-out; }
  body #backToTopBtn {
    position: fixed;
    bottom: 20px;
    /* Distancia desde el borde inferior */
    left: 20px;
    /* Distancia desde el borde derecho */
    z-index: 99;
    display: none;
    /* Por defecto oculto */
    font-size: 40px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.67);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    /* Aplicar transición a la opacidad */ }
    body #backToTopBtn:hover {
      color: white; }
    body #backToTopBtn.fade-in {
      opacity: 1;
      /* Mostrar el botón con opacidad completa */ }
  body #muteBtn {
    position: fixed;
    bottom: 40px;
    /* Distancia desde el borde inferior */
    right: 10px;
    /* Distancia desde el borde derecho */
    z-index: 99;
    display: block;
    font-size: 60px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.56);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: color 0.3s ease-in-out; }

.main .proyectos, .main .experiencialaboral, .main .certificaciones, .main .contacto {
  font-family: "Dosis", sans-serif; }
  .main .proyectos .titulos, .main .experiencialaboral .titulos, .main .certificaciones .titulos, .main .contacto .titulos {
    font-size: 20px;
    margin-left: 13px; }
    .main .proyectos .titulos h2, .main .experiencialaboral .titulos h2, .main .certificaciones .titulos h2, .main .contacto .titulos h2 {
      font-weight: 200;
      padding-bottom: 7px;
      letter-spacing: 2px; }
    .main .proyectos .titulos .hr-titulos, .main .experiencialaboral .titulos .hr-titulos, .main .certificaciones .titulos .hr-titulos, .main .contacto .titulos .hr-titulos {
      width: 28%; }

.nav .right li a, .main .contacto .links a {
  display: inline-block;
  position: relative;
  color: rgba(255, 255, 255, 0.813);
  text-decoration: none; }
  .nav .right li a:after, .main .contacto .links a:after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: rgba(255, 255, 255, 0.813);
    transition: all .4s; }
  .nav .right li a:hover:after, .main .contacto .links a:hover:after {
    width: 100%; }

body.theme-active .nav .right li a, body.theme-active .main .contacto .links a {
  font-weight: 597;
  display: inline-block;
  position: relative;
  text-decoration: none; }
  body.theme-active .nav .right li a:after, body.theme-active .main .contacto .links a:after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: black;
    transition: all .4s; }
  body.theme-active .nav .right li a:hover:after, body.theme-active .main .contacto .links a:hover:after {
    width: 100%; }

.nav .right .switch-container {
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em; }
  .nav .right .switch-container input {
    opacity: 0;
    width: 0;
    height: 0; }
  .nav .right .switch-container .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px; }
    .nav .right .switch-container .slider:before {
      position: absolute;
      content: "";
      height: 1.4em;
      width: 1.4em;
      border-radius: 50%;
      left: 10%;
      bottom: 15%;
      box-shadow: inset 8px -4px 0px 0px #f8f8f4;
      transition: transform 0.5s, box-shadow 0.5s; }
  .nav .right .switch-container input:checked + .slider {
    background-color: none; }
    .nav .right .switch-container input:checked + .slider:before {
      transform: translateX(100%);
      box-shadow: inset 15px -4px 0px 15px #f8ea27; }

.main .certificaciones .slideshow-container {
  width: 100%;
  position: relative;
  margin: 13px 0px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .main .certificaciones .slideshow-container .mySlides {
    display: none; }
    .main .certificaciones .slideshow-container .mySlides img {
      width: 1000px;
      margin: 0 auto; }
  .main .certificaciones .slideshow-container .fade {
    animation-name: fade;
    animation-duration: 1.3s; }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
  .main .certificaciones .slideshow-container .prev {
    left: 0;
    font-size: 39px;
    transform: translateX(-30px);
    cursor: pointer;
    color: rgba(255, 255, 255, 0.536);
    transition: all 0.2s ease-in-out; }
    .main .certificaciones .slideshow-container .prev:hover {
      color: white; }
  .main .certificaciones .slideshow-container .next {
    right: 0;
    font-size: 39px;
    transform: translateX(30px);
    cursor: pointer;
    color: rgba(255, 255, 255, 0.536);
    transition: all 0.2s ease-in-out; }
    .main .certificaciones .slideshow-container .next:hover {
      color: white; }
  .main .certificaciones .slideshow-container .dots {
    text-align: center;
    display: flex;
    justify-content: center;
    /* Centra horizontalmente los puntos */
    position: absolute;
    bottom: 30px;
    /* Ajusta la posición vertical según sea necesario */
    width: 100%;
    /* Ajusta el ancho para centrar horizontalmente */ }
    .main .certificaciones .slideshow-container .dots .dot {
      display: none;
      cursor: pointer;
      height: 3px;
      width: 30px;
      margin: 0 5px;
      /* Espacio entre los puntos */
      background-color: #ffffff82;
      transition: background-color 0.6s ease;
      transition: background-color 0.6s ease; }
      .main .certificaciones .slideshow-container .dots .dot.active, .main .certificaciones .slideshow-container .dots .dot:hover {
        background-color: #ffffff; }

body .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Dosis", sans-serif;
  font-size: 27px;
  letter-spacing: 2px; }
  body .modal .modal-content {
    background-color: rgba(19, 18, 18, 0.886);
    margin: 15% auto;
    border-radius: 2%;
    padding: 20px;
    width: 30%;
    height: 31%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  body .modal button {
    font-size: 15px;
    padding: 0.7em 2.7em;
    position: relative;
    text-align: center;
    width: 160px;
    font-family: "Dosis", sans-serif;
    letter-spacing: 2px;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 38, 0.1) 1%, transparent 40%, transparent 60%, rgba(27, 253, 46, 0.1) 100%);
    color: white;
    box-shadow: inset 0 0 10px 3px rgba(19, 207, 6, 0.214), 0 0 9px 3px rgba(60, 227, 4, 0.1);
    transition: color 0.8s ease-in-out;
    cursor: pointer; }
    body .modal button:hover {
      box-shadow: inset 0 0 10px rgba(2, 214, 9, 0.6), 0 0 9px 3px rgrgba(27, 234, 12, 0.2); }
    body .modal button:before {
      content: "";
      position: absolute;
      left: -4em;
      width: 4em;
      height: 100%;
      top: 0;
      transition: transform .4s ease-in-out;
      background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%, rgba(27, 253, 156, 0.1) 60%, transparent 100%); }
    body .modal button:hover:before {
      transform: translateX(15em); }

body.theme-active .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Dosis", sans-serif;
  font-size: 27px;
  letter-spacing: 2px; }
  body.theme-active .modal .modal-content {
    background-color: rgba(221, 214, 214, 0.9);
    margin: 15% auto;
    border-radius: 2%;
    padding: 20px;
    color: #0d0d0d;
    width: 30%;
    height: 31%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  body.theme-active .modal button {
    font-size: 15px;
    padding: 0.7em 2.7em;
    position: relative;
    text-align: center;
    width: 160px;
    font-family: "Dosis", sans-serif;
    letter-spacing: 2px;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(31, 32, 31, 0.1) 1%, transparent 40%, transparent 60%, rgba(25, 26, 25, 0.1) 100%);
    color: #0b0b0b;
    box-shadow: inset 0 0 10px 3px rgba(9, 9, 9, 0.214), 0 0 9px 3px rgba(0, 0, 0, 0.1);
    transition: color 0.8s ease-in-out;
    cursor: pointer; }
    body.theme-active .modal button:hover {
      box-shadow: inset 0 0 10px rgba(34, 35, 34, 0.6), 0 0 9px 3px rgba(50, 51, 50, 0.2); }
    body.theme-active .modal button:before {
      content: "";
      position: absolute;
      left: -4em;
      width: 4em;
      height: 100%;
      top: 0;
      transition: transform .4s ease-in-out;
      background: linear-gradient(to right, transparent 1%, rgba(111, 112, 112, 0.253) 40%, rgba(86, 86, 86, 0.1) 60%, transparent 100%); }
      body.theme-active .modal button:before:hover:before {
        transform: translateX(15em); }

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .nav .left {
    display: flex;
    list-style-type: none;
    align-items: flex-start;
    max-width: 300px; }
    .nav .left:hover {
      color: white; }
    .nav .left .mh {
      font-size: 13px;
      font-family: "Sedan", serif;
      padding: 13px;
      cursor: pointer;
      margin-left: 13px;
      margin-top: 10px;
      position: relative;
      overflow: hidden; }
      .nav .left .mh span {
        display: inline-block;
        color: rgba(255, 255, 255, 0.842);
        transition: opacity 0.3s ease; }
      .nav .left .mh:hover span {
        color: white; }
  .nav .right {
    display: flex;
    min-width: 760px; }
    .nav .right li {
      list-style-type: none;
      padding: 31px;
      margin-top: 20px; }
      .nav .right li a {
        color: rgba(255, 255, 255, 0.813);
        font-size: 23px;
        font-family: "Sedan", serif;
        cursor: pointer; }
        .nav .right li a:hover {
          color: white; }
    .nav .right .switch-container {
      position: relative;
      /* Posición relativa para establecer una posición inicial */
      margin-top: 10px; }

.header {
  font-family: "Dosis", sans-serif; }
  .header .titulo-header {
    display: flex;
    flex-direction: row;
    width: 100%; }
    .header .titulo-header .left {
      width: 35%;
      margin-left: 13px;
      position: relative;
      margin-left: 0; }
      .header .titulo-header .left h1 {
        font-size: 30px;
        margin-left: 5px;
        font-weight: 200;
        padding-bottom: 7px;
        letter-spacing: 4px; }
      .header .titulo-header .left .hr {
        width: 93%; }
      .header .titulo-header .left canvas {
        padding-top: 5px;
        margin-left: 3px;
        width: 93%;
        height: 92%;
        /* Esto hace que el canvas ocupe todo el alto del contenedor */
        display: block; }
    .header .titulo-header .right {
      width: 65%;
      padding-bottom: 23px; }
      .header .titulo-header .right .t {
        display: flex;
        flex-direction: row; }
        .header .titulo-header .right .t h2 {
          font-size: 28px;
          font-weight: 300;
          margin-left: 5px;
          margin-top: 22px;
          padding-top: 19px;
          padding-bottom: 4px;
          letter-spacing: 3px; }
        .header .titulo-header .right .t .l {
          font-size: 15px;
          font-weight: 100;
          padding-top: 57px;
          padding-left: 39px; }
      .header .titulo-header .right .hr {
        width: 97%;
        margin-bottom: 13px; }
      .header .titulo-header .right .historia {
        font-size: 19px;
        font-weight: 399;
        padding: 16px;
        letter-spacing: 1px; }
        .header .titulo-header .right .historia .l {
          text-decoration: none !important;
          font-family: "Dosis", sans-serif;
          letter-spacing: 1px;
          color: rgba(255, 255, 255, 0.815);
          transition: all 0.4s linear; }
          .header .titulo-header .right .historia .l:hover {
            color: white; }

.main .proyectos {
  margin-top: 13px; }
  .main .proyectos .sitioweb {
    display: flex;
    background-color: none;
    font-family: "Dosis", sans-serif;
    letter-spacing: 1px; }
    .main .proyectos .sitioweb .vid {
      width: 61%;
      padding: 50px 13px;
      display: flex;
      justify-content: center;
      z-index: 1; }
      .main .proyectos .sitioweb .vid video {
        z-index: 1;
        width: 80%;
        border-radius: 1%;
        transition: all 0.3s ease-in-out;
        cursor: pointer; }
        .main .proyectos .sitioweb .vid video:hover {
          transform: scale(1.01); }
    .main .proyectos .sitioweb .proyecto {
      width: 39%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      z-index: 1; }
      .main .proyectos .sitioweb .proyecto .descripcion-proyecto {
        font-size: 18px;
        padding: 0px 30px; }
        .main .proyectos .sitioweb .proyecto .descripcion-proyecto a {
          text-decoration: none;
          font-family: "Dosis", sans-serif;
          letter-spacing: 1px; }
      .main .proyectos .sitioweb .proyecto .links {
        text-align: center;
        font-size: 18px; }
        .main .proyectos .sitioweb .proyecto .links .link {
          text-decoration: none;
          color: rgba(255, 255, 255, 0.864);
          cursor: pointer;
          padding: 0px 13px; }
          .main .proyectos .sitioweb .proyecto .links .link:hover {
            color: white; }
    .main .proyectos .sitioweb .proyecto {
      text-align: right; }
      .main .proyectos .sitioweb .proyecto .l {
        text-decoration: none !important;
        font-family: "Dosis", sans-serif;
        letter-spacing: 1px;
        color: rgba(255, 255, 255, 0.693);
        transition: all 0.4s linear; }
        .main .proyectos .sitioweb .proyecto .l:hover {
          color: white; }
  .main .proyectos .videojuegos {
    display: flex;
    background-color: #090909;
    font-family: "Dosis", sans-serif;
    letter-spacing: 1px; }
    .main .proyectos .videojuegos .vid {
      width: 61%;
      padding: 50px 13px;
      display: flex;
      justify-content: center;
      z-index: 1; }
      .main .proyectos .videojuegos .vid video {
        z-index: 1;
        width: 80%;
        border-radius: 1%;
        transition: all 0.3s ease-in-out;
        cursor: pointer; }
        .main .proyectos .videojuegos .vid video:hover {
          transform: scale(1.01); }
    .main .proyectos .videojuegos .proyecto {
      width: 39%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      z-index: 1; }
      .main .proyectos .videojuegos .proyecto .descripcion-proyecto {
        font-size: 18px;
        padding: 0px 30px; }
        .main .proyectos .videojuegos .proyecto .descripcion-proyecto a {
          text-decoration: none;
          font-family: "Dosis", sans-serif;
          letter-spacing: 1px; }
      .main .proyectos .videojuegos .proyecto .links {
        text-align: center;
        font-size: 18px; }
        .main .proyectos .videojuegos .proyecto .links .link {
          text-decoration: none;
          color: rgba(255, 255, 255, 0.864);
          cursor: pointer;
          padding: 0px 13px; }
          .main .proyectos .videojuegos .proyecto .links .link:hover {
            color: white; }
    .main .proyectos .videojuegos .vid {
      position: relative; }
      .main .proyectos .videojuegos .vid canvas#v {
        z-index: 0;
        position: absolute;
        opacity: 0.5;
        height: 100%;
        transform: translateY(-50px); }
  .main .proyectos .historia {
    display: flex;
    background-color: none;
    font-family: "Dosis", sans-serif;
    letter-spacing: 1px; }
    .main .proyectos .historia .vid {
      width: 61%;
      padding: 50px 13px;
      display: flex;
      justify-content: center;
      z-index: 1; }
      .main .proyectos .historia .vid video {
        z-index: 1;
        width: 80%;
        border-radius: 1%;
        transition: all 0.3s ease-in-out;
        cursor: pointer; }
        .main .proyectos .historia .vid video:hover {
          transform: scale(1.01); }
    .main .proyectos .historia .proyecto {
      width: 39%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      z-index: 1; }
      .main .proyectos .historia .proyecto .descripcion-proyecto {
        font-size: 18px;
        padding: 0px 30px; }
        .main .proyectos .historia .proyecto .descripcion-proyecto a {
          text-decoration: none;
          font-family: "Dosis", sans-serif;
          letter-spacing: 1px; }
      .main .proyectos .historia .proyecto .links {
        text-align: center;
        font-size: 18px; }
        .main .proyectos .historia .proyecto .links .link {
          text-decoration: none;
          color: rgba(255, 255, 255, 0.864);
          cursor: pointer;
          padding: 0px 13px; }
          .main .proyectos .historia .proyecto .links .link:hover {
            color: white; }
    .main .proyectos .historia .proyecto {
      text-align: right; }
  .main .proyectos .javascript {
    display: flex;
    background-color: #090909;
    font-family: "Dosis", sans-serif;
    letter-spacing: 1px; }
    .main .proyectos .javascript .vid {
      width: 61%;
      padding: 50px 13px;
      display: flex;
      justify-content: center;
      z-index: 1; }
      .main .proyectos .javascript .vid video {
        z-index: 1;
        width: 80%;
        border-radius: 1%;
        transition: all 0.3s ease-in-out;
        cursor: pointer; }
        .main .proyectos .javascript .vid video:hover {
          transform: scale(1.01); }
    .main .proyectos .javascript .proyecto {
      width: 39%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      z-index: 1; }
      .main .proyectos .javascript .proyecto .descripcion-proyecto {
        font-size: 18px;
        padding: 0px 30px; }
        .main .proyectos .javascript .proyecto .descripcion-proyecto a {
          text-decoration: none;
          font-family: "Dosis", sans-serif;
          letter-spacing: 1px; }
      .main .proyectos .javascript .proyecto .links {
        text-align: center;
        font-size: 18px; }
        .main .proyectos .javascript .proyecto .links .link {
          text-decoration: none;
          color: rgba(255, 255, 255, 0.864);
          cursor: pointer;
          padding: 0px 13px; }
          .main .proyectos .javascript .proyecto .links .link:hover {
            color: white; }
    .main .proyectos .javascript .proyecto {
      position: relative;
      z-index: 1; }
      .main .proyectos .javascript .proyecto canvas#d {
        z-index: -1;
        position: absolute;
        opacity: 0.5;
        height: 100%; }
      .main .proyectos .javascript .proyecto .descripcion-proyecto a {
        text-decoration: none !important;
        font-family: "Dosis", sans-serif;
        letter-spacing: 1px;
        color: rgba(255, 255, 255, 0.864);
        transition: color 0.4s linear; }
        .main .proyectos .javascript .proyecto .descripcion-proyecto a:hover {
          color: white; }
  .main .proyectos .ecommerce {
    display: flex;
    background-color: none;
    font-family: "Dosis", sans-serif;
    letter-spacing: 1px;
    text-align: right; }
    .main .proyectos .ecommerce .vid {
      width: 61%;
      padding: 50px 13px;
      display: flex;
      justify-content: center;
      z-index: 1; }
      .main .proyectos .ecommerce .vid video {
        z-index: 1;
        width: 80%;
        border-radius: 1%;
        transition: all 0.3s ease-in-out;
        cursor: pointer; }
        .main .proyectos .ecommerce .vid video:hover {
          transform: scale(1.01); }
    .main .proyectos .ecommerce .proyecto {
      width: 39%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      z-index: 1; }
      .main .proyectos .ecommerce .proyecto .descripcion-proyecto {
        font-size: 18px;
        padding: 0px 30px; }
        .main .proyectos .ecommerce .proyecto .descripcion-proyecto a {
          text-decoration: none;
          font-family: "Dosis", sans-serif;
          letter-spacing: 1px; }
      .main .proyectos .ecommerce .proyecto .links {
        text-align: center;
        font-size: 18px; }
        .main .proyectos .ecommerce .proyecto .links .link {
          text-decoration: none;
          color: rgba(255, 255, 255, 0.864);
          cursor: pointer;
          padding: 0px 13px; }
          .main .proyectos .ecommerce .proyecto .links .link:hover {
            color: white; }
  .main .proyectos .foto {
    display: flex;
    background-color: #090909;
    font-family: "Dosis", sans-serif;
    letter-spacing: 1px; }
    .main .proyectos .foto .vid {
      width: 61%;
      padding: 50px 13px;
      display: flex;
      justify-content: center;
      z-index: 1; }
      .main .proyectos .foto .vid video {
        z-index: 1;
        width: 80%;
        border-radius: 1%;
        transition: all 0.3s ease-in-out;
        cursor: pointer; }
        .main .proyectos .foto .vid video:hover {
          transform: scale(1.01); }
    .main .proyectos .foto .proyecto {
      width: 39%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      z-index: 1; }
      .main .proyectos .foto .proyecto .descripcion-proyecto {
        font-size: 18px;
        padding: 0px 30px; }
        .main .proyectos .foto .proyecto .descripcion-proyecto a {
          text-decoration: none;
          font-family: "Dosis", sans-serif;
          letter-spacing: 1px; }
      .main .proyectos .foto .proyecto .links {
        text-align: center;
        font-size: 18px; }
        .main .proyectos .foto .proyecto .links .link {
          text-decoration: none;
          color: rgba(255, 255, 255, 0.864);
          cursor: pointer;
          padding: 0px 13px; }
          .main .proyectos .foto .proyecto .links .link:hover {
            color: white; }
    .main .proyectos .foto .vid {
      position: relative; }
      .main .proyectos .foto .vid canvas#z {
        z-index: 0;
        position: absolute;
        opacity: 0.8;
        height: 100%;
        transform: translateY(-50px); }
  .main .proyectos .portfolio {
    display: flex;
    background-color: none;
    font-family: "Dosis", sans-serif;
    letter-spacing: 1px;
    text-align: right; }
    .main .proyectos .portfolio .vid {
      width: 61%;
      padding: 50px 13px;
      display: flex;
      justify-content: center;
      z-index: 1; }
      .main .proyectos .portfolio .vid video {
        z-index: 1;
        width: 80%;
        border-radius: 1%;
        transition: all 0.3s ease-in-out;
        cursor: pointer; }
        .main .proyectos .portfolio .vid video:hover {
          transform: scale(1.01); }
    .main .proyectos .portfolio .proyecto {
      width: 39%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      z-index: 1; }
      .main .proyectos .portfolio .proyecto .descripcion-proyecto {
        font-size: 18px;
        padding: 0px 30px; }
        .main .proyectos .portfolio .proyecto .descripcion-proyecto a {
          text-decoration: none;
          font-family: "Dosis", sans-serif;
          letter-spacing: 1px; }
      .main .proyectos .portfolio .proyecto .links {
        text-align: center;
        font-size: 18px; }
        .main .proyectos .portfolio .proyecto .links .link {
          text-decoration: none;
          color: rgba(255, 255, 255, 0.864);
          cursor: pointer;
          padding: 0px 13px; }
          .main .proyectos .portfolio .proyecto .links .link:hover {
            color: white; }
  .main .proyectos .music {
    display: flex;
    background-color: #090909;
    font-family: "Dosis", sans-serif;
    letter-spacing: 1px; }
    .main .proyectos .music .vid {
      width: 61%;
      padding: 50px 13px;
      display: flex;
      justify-content: center;
      z-index: 1; }
      .main .proyectos .music .vid video {
        z-index: 1;
        width: 80%;
        border-radius: 1%;
        transition: all 0.3s ease-in-out;
        cursor: pointer; }
        .main .proyectos .music .vid video:hover {
          transform: scale(1.01); }
    .main .proyectos .music .proyecto {
      width: 39%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      z-index: 1; }
      .main .proyectos .music .proyecto .descripcion-proyecto {
        font-size: 18px;
        padding: 0px 30px; }
        .main .proyectos .music .proyecto .descripcion-proyecto a {
          text-decoration: none;
          font-family: "Dosis", sans-serif;
          letter-spacing: 1px; }
      .main .proyectos .music .proyecto .links {
        text-align: center;
        font-size: 18px; }
        .main .proyectos .music .proyecto .links .link {
          text-decoration: none;
          color: rgba(255, 255, 255, 0.864);
          cursor: pointer;
          padding: 0px 13px; }
          .main .proyectos .music .proyecto .links .link:hover {
            color: white; }
    .main .proyectos .music .vid {
      position: relative; }
      .main .proyectos .music .vid canvas#m {
        z-index: 0;
        position: absolute;
        opacity: 0.8;
        height: 100%;
        transform: translateY(-50px); }
    .main .proyectos .music .proyecto {
      position: relative;
      z-index: 3;
      color: white; }
      .main .proyectos .music .proyecto canvas#m {
        z-index: -2;
        position: absolute;
        opacity: 0.5;
        height: 100%; }
  .main .proyectos .react {
    display: flex;
    background-color: none;
    font-family: "Dosis", sans-serif;
    letter-spacing: 1px;
    text-align: right; }
    .main .proyectos .react .vid {
      width: 61%;
      padding: 50px 13px;
      display: flex;
      justify-content: center;
      z-index: 1; }
      .main .proyectos .react .vid video {
        z-index: 1;
        width: 80%;
        border-radius: 1%;
        transition: all 0.3s ease-in-out;
        cursor: pointer; }
        .main .proyectos .react .vid video:hover {
          transform: scale(1.01); }
    .main .proyectos .react .proyecto {
      width: 39%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      z-index: 1; }
      .main .proyectos .react .proyecto .descripcion-proyecto {
        font-size: 18px;
        padding: 0px 30px; }
        .main .proyectos .react .proyecto .descripcion-proyecto a {
          text-decoration: none;
          font-family: "Dosis", sans-serif;
          letter-spacing: 1px; }
      .main .proyectos .react .proyecto .links {
        text-align: center;
        font-size: 18px; }
        .main .proyectos .react .proyecto .links .link {
          text-decoration: none;
          color: rgba(255, 255, 255, 0.864);
          cursor: pointer;
          padding: 0px 13px; }
          .main .proyectos .react .proyecto .links .link:hover {
            color: white; }
  .main .proyectos .hr-pr {
    width: 27%;
    transform: translateX(130%);
    border-color: white; }

.main .certificaciones {
  margin-top: 13px; }

.main .contacto {
  margin-top: 20px;
  height: 97vh;
  display: flex;
  flex-direction: column;
  position: relative; }
  .main .contacto canvas {
    z-index: -1;
    position: absolute;
    margin-top: 43px;
    opacity: 0.7; }
  .main .contacto #container {
    display: none !important; }
  .main .contacto h2 {
    text-align: center; }
  .main .contacto .hr-titulos {
    transform: translateX(130%); }
  .main .contacto .parrafo-contacto {
    margin-top: 10%;
    text-align: center; }
  .main .contacto .links {
    display: flex;
    justify-content: center;
    margin-top: 18%; }
    .main .contacto .links a {
      color: rgba(255, 255, 255, 0.413);
      font-size: 39px;
      padding: 23px; }
      .main .contacto .links a:hover {
        color: white; }

.footer {
  font-family: "Dosis", sans-serif;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 7px;
  letter-spacing: 1.3px; }
  .footer .t-footer {
    font-size: 16px;
    transform: translateX(-130px);
    display: none; }
    .footer .t-footer a {
      padding-left: 4px;
      text-decoration: none;
      font-size: 18px;
      color: white;
      opacity: 0;
      transition: opacity 2.13s ease-in-out;
      cursor: pointer; }
      .footer .t-footer a:hover {
        opacity: 1; }
  .footer .p-footer {
    text-align: center;
    transform: translateX(-50px); }
    .footer .p-footer span {
      font-size: 18px;
      color: white;
      opacity: 0;
      transition: opacity 2.13s ease-in-out;
      cursor: pointer; }
      .footer .p-footer span:hover {
        opacity: 1; }

body.theme-active {
  background-color: white;
  color: black;
  transition: all 0.8s ease-in-out; }
  body.theme-active #backToTopBtn {
    /* Estilos adicionales para el botón de volver arriba */
    color: rgba(0, 0, 0, 0.893); }
    body.theme-active #backToTopBtn:hover {
      color: black; }
  body.theme-active .nav .left .mh {
    transition: color 0.7s ease-in-out; }
    body.theme-active .nav .left .mh span {
      color: rgba(0, 0, 0, 0.847);
      font-weight: 597; }
      body.theme-active .nav .left .mh span:hover {
        color: black; }
  body.theme-active .nav .right li a {
    color: rgba(0, 0, 0, 0.662);
    transition: color 0.7s ease-in-out; }
    body.theme-active .nav .right li a:hover {
      color: black; }
  body.theme-active .header .titulo-header .left canvas {
    display: none; }
  body.theme-active .header .titulo-header .left .hr {
    border-color: black; }
  body.theme-active .header .titulo-header .left #container {
    left: 0;
    position: relative;
    width: 93%;
    min-height: 95%;
    background-image: url(https://images.unsplash.com/photo-1571683784868-1f418096e355?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    /* Hace que la imagen de fondo cubra todo el contenedor */
    background-position: contain;
    /* Centra la imagen de fondo dentro del contenedor */
    background-repeat: no-repeat; }
    body.theme-active .header .titulo-header .left #container .dot {
      width: 60px;
      height: 60px;
      position: absolute;
      background-size: contain;
      left: 0; }
  body.theme-active .header .titulo-header .right .hr {
    border-color: black; }
  body.theme-active .header .titulo-header .right .historia .l {
    color: black; }
  body.theme-active .main {
    color: black; }
    body.theme-active .main .proyectos {
      color: black; }
      body.theme-active .main .proyectos .titulos #proyectos {
        z-index: 1000; }
      body.theme-active .main .proyectos .titulos .hr-titulos {
        border-color: black; }
      body.theme-active .main .proyectos .sitioweb .proyecto .descripcion-proyecto .l {
        color: black; }
      body.theme-active .main .proyectos .sitioweb .proyecto .links .link {
        color: rgba(0, 0, 0, 0.774);
        transition: color 0.3s ease-in-out; }
        body.theme-active .main .proyectos .sitioweb .proyecto .links .link:hover {
          color: black; }
      body.theme-active .main .proyectos .videojuegos {
        background-color: #f4efef; }
        body.theme-active .main .proyectos .videojuegos #container .dot {
          width: 60px;
          height: 60px;
          position: absolute;
          background-size: contain; }
        body.theme-active .main .proyectos .videojuegos .vid canvas#v {
          display: none; }
        body.theme-active .main .proyectos .videojuegos .proyecto .links .link {
          color: rgba(0, 0, 0, 0.774);
          transition: color 0.3s ease-in-out; }
          body.theme-active .main .proyectos .videojuegos .proyecto .links .link:hover {
            color: black; }
      body.theme-active .main .proyectos .hr-pr {
        border-color: black; }
      body.theme-active .main .proyectos .historia .proyecto .links .link {
        color: rgba(0, 0, 0, 0.774);
        transition: color 0.3s ease-in-out; }
        body.theme-active .main .proyectos .historia .proyecto .links .link:hover {
          color: black; }
      body.theme-active .main .proyectos .javascript {
        background-color: #f4efef; }
        body.theme-active .main .proyectos .javascript .proyecto .descripcion-proyecto .l {
          color: black; }
        body.theme-active .main .proyectos .javascript .proyecto canvas#d {
          display: none; }
        body.theme-active .main .proyectos .javascript .proyecto .links .link {
          color: rgba(0, 0, 0, 0.774);
          transition: color 0.3s ease-in-out; }
          body.theme-active .main .proyectos .javascript .proyecto .links .link:hover {
            color: black; }
      body.theme-active .main .proyectos .ecommerce .proyecto .links .link {
        color: rgba(0, 0, 0, 0.774);
        transition: color 0.3s ease-in-out; }
        body.theme-active .main .proyectos .ecommerce .proyecto .links .link:hover {
          color: black; }
      body.theme-active .main .proyectos .ecommerce #container {
        left: 0; }
        body.theme-active .main .proyectos .ecommerce #container .dot {
          width: 60px;
          height: 60px;
          position: absolute;
          left: 0;
          background-size: contain; }
      body.theme-active .main .proyectos .foto {
        background-color: #f4efef; }
        body.theme-active .main .proyectos .foto .vid canvas#z {
          display: none; }
        body.theme-active .main .proyectos .foto .proyecto .links .link {
          color: rgba(0, 0, 0, 0.774);
          transition: color 0.3s ease-in-out; }
          body.theme-active .main .proyectos .foto .proyecto .links .link:hover {
            color: black; }
        body.theme-active .main .proyectos .foto #container {
          left: 0; }
          body.theme-active .main .proyectos .foto #container .dot {
            width: 60px;
            height: 60px;
            position: absolute;
            left: 0;
            background-size: contain; }
      body.theme-active .main .proyectos .portfolio .proyecto .links .link {
        color: rgba(0, 0, 0, 0.774);
        transition: color 0.3s ease-in-out; }
        body.theme-active .main .proyectos .portfolio .proyecto .links .link:hover {
          color: black; }
      body.theme-active .main .proyectos .music {
        background-color: #f4efef; }
        body.theme-active .main .proyectos .music .vid canvas#m {
          display: none !important; }
        body.theme-active .main .proyectos .music .proyecto .descripcion-proyecto {
          color: black; }
        body.theme-active .main .proyectos .music .proyecto canvas#m {
          display: none !important; }
        body.theme-active .main .proyectos .music .proyecto .links .link {
          color: rgba(0, 0, 0, 0.774);
          transition: color 0.3s ease-in-out; }
          body.theme-active .main .proyectos .music .proyecto .links .link:hover {
            color: black; }
        body.theme-active .main .proyectos .music #container {
          left: 0; }
          body.theme-active .main .proyectos .music #container .dot {
            width: 60px;
            height: 60px;
            position: absolute;
            background-size: contain; }
    body.theme-active .main .experiencialaboral .titulos .hr-titulos {
      border-color: black; }
    body.theme-active .main .certificaciones .titulos .hr-titulos {
      border-color: black; }
    body.theme-active .main .certificaciones .slideshow-container .prev,
    body.theme-active .main .certificaciones .slideshow-container .next {
      color: rgba(0, 0, 0, 0.714); }
      body.theme-active .main .certificaciones .slideshow-container .prev:hover,
      body.theme-active .main .certificaciones .slideshow-container .next:hover {
        color: black; }
    body.theme-active .main .contacto {
      background-image: url(https://www.windowschimp.com/wp-content/uploads/2014/12/Windows10Wallpapers.jpg);
      background-size: cover;
      /* Hace que la imagen de fondo cubra todo el contenedor */
      background-position: center top 45px;
      /* Centra la imagen de fondo dentro del contenedor */
      background-repeat: no-repeat;
      margin-bottom: -25px;
      overflow: hidden; }
      body.theme-active .main .contacto canvas {
        display: none; }
      body.theme-active .main .contacto #container {
        display: block !important;
        z-index: 1;
        overflow: hidden; }
        body.theme-active .main .contacto #container .dot {
          width: 100px;
          height: 100px;
          position: absolute;
          background-size: contain;
          overflow: hidden; }
      body.theme-active .main .contacto .hr-titulos {
        border-color: black; }
      body.theme-active .main .contacto .links a {
        color: rgba(0, 0, 0, 0.659); }
        body.theme-active .main .contacto .links a:hover {
          color: black; }
  body.theme-active .footer .t-footer {
    font-weight: 500; }
    body.theme-active .footer .t-footer a {
      color: black; }
  body.theme-active .footer .p-footer {
    font-weight: 500; }
    body.theme-active .footer .p-footer span {
      color: black;
      font-weight: 600; }

@media (max-width: 1400px) {
  main {
    overflow-x: hidden;
    overflow: hidden; }
    main .proyectos {
      overflow: hidden; }
    main .certificaciones .slideshow-container .mySlides img {
      width: 739px !important; } }

@media (max-width: 979px) {
  .nav {
    overflow-x: hidden;
    flex-direction: column; }
    .nav .right .switch-container {
      transform: translateX(350px); }
  .header {
    overflow-x: hidden; }
    .header .titulo-header .right .historia {
      font-size: 16px; }
  .main {
    overflow-x: hidden;
    overflow: hidden; }
    .main .proyectos {
      overflow: hidden; } }

@media (max-width: 875px) {
  .header {
    overflow-x: hidden;
    overflow-y: hidden; }
    .header .titulo-header {
      flex-direction: column;
      align-items: center; }
      .header .titulo-header .left {
        width: 100%; }
  .main {
    overflow-x: hidden;
    overflow: hidden; }
    .main .proyectos {
      overflow: hidden; }
      .main .proyectos .sitioweb {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 13px; }
        .main .proyectos .sitioweb .vid {
          width: 100%; }
          .main .proyectos .sitioweb .vid .video {
            width: 90%; }
        .main .proyectos .sitioweb .proyecto {
          width: 100%;
          padding-left: 130px; }
          .main .proyectos .sitioweb .proyecto .descripcion-proyecto {
            width: 80%; }
          .main .proyectos .sitioweb .proyecto .links {
            padding-top: 10px;
            padding-right: 53px; }
      .main .proyectos .videojuegos {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 13px; }
        .main .proyectos .videojuegos .vid {
          width: 100%; }
          .main .proyectos .videojuegos .vid .video {
            width: 90%; }
        .main .proyectos .videojuegos .proyecto {
          width: 100%;
          padding-top: 10px;
          padding-left: 130px; }
          .main .proyectos .videojuegos .proyecto .descripcion-proyecto {
            justify-content: center;
            text-align: center;
            width: 80%; }
          .main .proyectos .videojuegos .proyecto .links {
            padding: 10px;
            padding-right: 53px; }
      .main .proyectos .historia {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 13px; }
        .main .proyectos .historia .vid {
          width: 100%; }
          .main .proyectos .historia .vid .video {
            width: 90%; }
        .main .proyectos .historia .proyecto {
          width: 100%;
          padding-left: 130px; }
          .main .proyectos .historia .proyecto .descripcion-proyecto {
            justify-content: center;
            width: 80%; }
          .main .proyectos .historia .proyecto .links {
            padding-top: 10px;
            padding-right: 53px; }
      .main .proyectos .javascript {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 13px; }
        .main .proyectos .javascript .vid {
          width: 100%; }
          .main .proyectos .javascript .vid .video {
            width: 90%; }
        .main .proyectos .javascript .proyecto {
          width: 100%;
          padding-top: 10px;
          padding-left: 130px; }
          .main .proyectos .javascript .proyecto .descripcion-proyecto {
            justify-content: center;
            text-align: center;
            width: 80%; }
          .main .proyectos .javascript .proyecto .links {
            padding: 10px;
            padding-right: 53px; }
          .main .proyectos .javascript .proyecto canvas#d {
            display: none; }
      .main .proyectos .ecommerce {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 13px; }
        .main .proyectos .ecommerce .vid {
          width: 100%; }
          .main .proyectos .ecommerce .vid .video {
            width: 90%; }
        .main .proyectos .ecommerce .proyecto {
          width: 100%;
          padding-left: 130px; }
          .main .proyectos .ecommerce .proyecto .descripcion-proyecto {
            justify-content: center;
            width: 80%; }
          .main .proyectos .ecommerce .proyecto .links {
            padding-top: 10px; }
      .main .proyectos .foto {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 13px; }
        .main .proyectos .foto .vid {
          width: 100%; }
          .main .proyectos .foto .vid .video {
            width: 90%; }
        .main .proyectos .foto .proyecto {
          width: 100%;
          padding-top: 10px;
          padding-left: 130px; }
          .main .proyectos .foto .proyecto .descripcion-proyecto {
            justify-content: center;
            text-align: center;
            width: 80%; }
          .main .proyectos .foto .proyecto .links {
            padding: 10px;
            padding-right: 53px; }
      .main .proyectos .portfolio {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 13px; }
        .main .proyectos .portfolio .vid {
          width: 100%; }
          .main .proyectos .portfolio .vid .video {
            width: 90%; }
        .main .proyectos .portfolio .proyecto {
          width: 100%;
          padding-left: 130px; }
          .main .proyectos .portfolio .proyecto .descripcion-proyecto {
            justify-content: center;
            width: 80%; }
          .main .proyectos .portfolio .proyecto .links {
            padding-top: 10px;
            padding-right: 53px; }
      .main .proyectos .music {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 13px; }
        .main .proyectos .music .vid {
          width: 100%; }
          .main .proyectos .music .vid .video {
            width: 90%; }
        .main .proyectos .music .proyecto {
          width: 100%;
          padding-top: 10px;
          padding-left: 130px; }
          .main .proyectos .music .proyecto .descripcion-proyecto {
            justify-content: center;
            text-align: center;
            width: 80%; }
          .main .proyectos .music .proyecto .links {
            padding: 10px;
            padding-right: 53px; }
      .main .proyectos .react {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 13px; }
        .main .proyectos .react .vid {
          width: 100%; }
          .main .proyectos .react .vid .video {
            width: 90%; }
        .main .proyectos .react .proyecto {
          width: 100%;
          padding-left: 130px; }
          .main .proyectos .react .proyecto .descripcion-proyecto {
            justify-content: center;
            text-align: center;
            width: 80%; }
          .main .proyectos .react .proyecto .links {
            padding-top: 10px;
            padding-right: 53px; }
    .main .certificaciones .slideshow-container .mySlides img {
      width: 609px !important; } }

@media (max-width: 700px) {
  .nav {
    overflow-x: hidden; }
    .nav .right {
      flex-direction: column;
      margin-left: 350px; }
      .nav .right .switch-container {
        transform: translateX(200px); }
      .nav .right li {
        display: none; }
  .header .titulo-header .left canvas {
    width: 97%; }
  .header .titulo-header .right .historia {
    text-align: center;
    width: 100%;
    padding: 10px; }
  .main {
    overflow-x: hidden;
    overflow-y: hidden; }
    .main .proyectos {
      overflow-y: hidden;
      overflow-x: hidden; }
      .main .proyectos .sitioweb .proyecto {
        padding-left: 31px; }
      .main .proyectos .videojuegos .proyecto {
        padding-left: 31px; }
      .main .proyectos .historia .proyecto {
        padding-left: 31px; }
      .main .proyectos .javascript .proyecto {
        padding-left: 31px; }
      .main .proyectos .ecommerce .proyecto {
        padding-left: 31px; }
      .main .proyectos .foto .proyecto {
        padding-left: 31px; }
      .main .proyectos .portfolio .proyecto {
        padding-left: 31px; }
      .main .proyectos .music .proyecto {
        padding-left: 31px; }
      .main .proyectos .react .proyecto {
        padding-left: 31px; }
    .main .certificaciones .slideshow-container .mySlides img {
      width: 300px !important; }
    .main .certificaciones .slideshow-container .prev {
      transform: translateX(-13px); }
    .main .certificaciones .slideshow-container .next {
      transform: translateX(13px); }
    .main .contacto {
      height: 50vh; }
  .footer {
    overflow-x: hidden;
    margin-left: 43px; }
    .footer .p-footer {
      font-size: 9px; }
      .footer .p-footer span {
        opacity: 1; }
  #backToTopBtn {
    opacity: 0; } }
