@media (max-width: 1400px) {
    main {
        overflow-x: hidden;
        overflow: hidden;

        .proyectos {
            overflow: hidden;
        }

        .certificaciones {
            .slideshow-container {
                .mySlides {
                    img {
                        width: 739px !important;

                    }
                }
            }
        }
    }
}

@media (max-width: 979px) {
    .nav {
        overflow-x: hidden;
        flex-direction: column;

        .right {
            .switch-container {
                transform: translateX(350px);
            }
        }
    }

    .header {
        overflow-x: hidden;

        .titulo-header {

            .right {
                .historia {
                    font-size: 16px;
                }
            }
        }
    }

    .main {
        overflow-x: hidden;
        overflow: hidden;

        .proyectos {
            overflow: hidden;
        }

    }

}


@media (max-width: 875px) {
    .header {
        overflow-x: hidden;
        overflow-y: hidden;

        .titulo-header {
            flex-direction: column;
            align-items: center;

            .left {
                width: 100%;
            }
        }
    }

    .main {
        overflow-x: hidden;
        overflow: hidden;

        .proyectos {
            overflow: hidden;

            .sitioweb {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 13px;

                .vid {
                    width: 100%;

                    .video {
                        width: 90%;
                    }
                }

                .proyecto {
                    width: 100%;
                    padding-left: 130px;

                    .descripcion-proyecto {
                        width: 80%;
                    }

                    .links {
                        padding-top: 10px;
                        padding-right: 53px;
                    }
                }
            }

            .videojuegos {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 13px;

                .vid {
                    width: 100%;

                    .video {
                        width: 90%;
                    }
                }

                .proyecto {
                    width: 100%;
                    padding-top: 10px;
                    padding-left: 130px;

                    .descripcion-proyecto {
                        justify-content: center;
                        text-align: center;
                        width: 80%;
                    }

                    .links {
                        padding: 10px;
                        padding-right: 53px;
                    }
                }
            }

            .historia {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 13px;

                .vid {
                    width: 100%;

                    .video {
                        width: 90%;
                    }
                }

                .proyecto {
                    width: 100%;
                    padding-left: 130px;

                    .descripcion-proyecto {
                        justify-content: center;
                        width: 80%;
                    }

                    .links {
                        padding-top: 10px;
                        padding-right: 53px;
                    }
                }
            }

            .javascript {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 13px;

                .vid {
                    width: 100%;

                    .video {
                        width: 90%;
                    }
                }

                .proyecto {
                    width: 100%;
                    padding-top: 10px;
                    padding-left: 130px;

                    .descripcion-proyecto {
                        justify-content: center;
                        text-align: center;
                        width: 80%;
                    }

                    .links {
                        padding: 10px;
                        padding-right: 53px;
                    }

                    canvas#d {
                        display: none;
                    }
                }
            }

            .ecommerce {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 13px;

                .vid {
                    width: 100%;

                    .video {
                        width: 90%;
                    }
                }

                .proyecto {
                    width: 100%;
                    padding-left: 130px;

                    .descripcion-proyecto {
                        justify-content: center;
                        width: 80%;
                    }

                    .links {
                        padding-top: 10px;
                    }
                }
            }

            .foto {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 13px;

                .vid {
                    width: 100%;

                    .video {
                        width: 90%;
                    }
                }

                .proyecto {
                    width: 100%;
                    padding-top: 10px;
                    padding-left: 130px;

                    .descripcion-proyecto {
                        justify-content: center;
                        text-align: center;
                        width: 80%;
                    }

                    .links {
                        padding: 10px;
                        padding-right: 53px;
                    }
                }
            }

            .portfolio {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 13px;

                .vid {
                    width: 100%;

                    .video {
                        width: 90%;
                    }
                }

                .proyecto {
                    width: 100%;
                    padding-left: 130px;

                    .descripcion-proyecto {
                        justify-content: center;
                        width: 80%;
                    }

                    .links {
                        padding-top: 10px;
                        padding-right: 53px;
                    }
                }
            }

            .music {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 13px;

                .vid {
                    width: 100%;

                    .video {
                        width: 90%;
                    }
                }

                .proyecto {
                    width: 100%;
                    padding-top: 10px;
                    padding-left: 130px;

                    .descripcion-proyecto {
                        justify-content: center;
                        text-align: center;
                        width: 80%;
                    }

                    .links {
                        padding: 10px;
                        padding-right: 53px;
                    }
                }
            }

            .react {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 13px;

                .vid {
                    width: 100%;

                    .video {
                        width: 90%;
                    }
                }

                .proyecto {
                    width: 100%;
                    padding-left: 130px;

                    .descripcion-proyecto {
                        justify-content: center;
                        text-align: center;
                        width: 80%;
                    }

                    .links {
                        padding-top: 10px;
                        padding-right: 53px;
                    }
                }
            }
        }

        .certificaciones {
            .slideshow-container {
                .mySlides {
                    img {
                        width: 609px !important;

                    }
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .nav {
        overflow-x: hidden;

        .right {
            flex-direction: column;
            margin-left: 350px;

            .switch-container {
                transform: translateX(200px);
            }

            li {
                display: none;
            }
        }
    }

    .header {
        .titulo-header {
            .left {
                canvas {
                    width: 97%;
                }
            }

            .right {
                .historia {
                    text-align: center;
                    width: 100%;
                    padding: 10px;
                }
            }
        }
    }

    .main {
        overflow-x: hidden;
        overflow-y: hidden;

        .proyectos {
            overflow-y: hidden;
            overflow-x: hidden;

            .sitioweb {
                .proyecto {
                    padding-left: 31px;
                }
            }

            .videojuegos {
                .proyecto {
                    padding-left: 31px;
                }
            }

            .historia {
                .proyecto {
                    padding-left: 31px;
                }
            }

            .javascript {
                .proyecto {
                    padding-left: 31px;
                }
            }

            .ecommerce {
                .proyecto {
                    padding-left: 31px;
                }
            }

            .foto {
                .proyecto {
                    padding-left: 31px;
                }
            }

            .portfolio {
                .proyecto {
                    padding-left: 31px;
                }
            }

            .music {
                .proyecto {
                    padding-left: 31px;
                }
            }

            .react {
                .proyecto {
                    padding-left: 31px;
                }
            }
        }

        .certificaciones {
            .slideshow-container {
                .mySlides {
                    img {
                        width: 300px !important;

                    }
                }

                .prev {
                    transform: translateX(-13px);
                }

                .next {
                    transform: translateX(13px);
                }
            }
        }

        .contacto {
            height: 50vh;
        }
    }

    .footer {
        overflow-x: hidden;
        margin-left: 43px;

        .p-footer {
            font-size: 9px;

            span {
                opacity: 1;
            }
        }
    }

    #backToTopBtn {
        opacity: 0;
    }

}