// mixin para el estilo de los contenedores de los proyectos
@mixin sitioweb ($bg-color: $bg-color-b) {
    display: flex;
    background-color: $bg-color; 
    font-family: $font-titulo;
    letter-spacing: 1px;
    
    video {
        width: 61%;
    }

    .proyecto {
        width: 39%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0px 13px;
        .links{
            text-align: center;
            .link{
                text-decoration: none;
                color: rgba(255, 255, 255, 0.864);
                cursor: pointer;
                padding: 0px 13px;
                &:hover{
                    color: white;
                }
            }
        }
    }
}

