// mixin para el estilo de los contenedores de los proyectos
@mixin sitioweb ($bg-color: $bg-color-b) {
    display: flex;
    background-color: $bg-color;
    font-family: $font-titulo;
    letter-spacing: 1px;
    // margin: 50px 0px;
    // padding: 50px 0px;

    .vid {
        width: 61%;
        padding: 50px 13px;
        display: flex;
        justify-content: center;
        z-index: 1;

        video {
            z-index: 1;
            width: 80%;
            border-radius: 1%;
            transition: all 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                transform: scale(1.01);
            }
        }
    }

    .proyecto {
        width: 39%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        z-index: 1;

        .descripcion-proyecto{
            font-size: 18px;
            padding: 0px 30px;
        }

        .links {
            text-align: center;
            font-size: 18px;

            .link {
                text-decoration: none;
                color: rgba(255, 255, 255, 0.864);
                cursor: pointer;
                padding: 0px 13px;

                &:hover {
                    color: white;
                }
            }
        }
    }
}