// variable para color de fondo de los proyectos
$bg-color-b: rgb(9, 9, 9);

// variable para el color del texto del body en modo default
$color-text: rgba(255, 255, 255, 0.813);

// variable para los fonts
$font-nav: "Sedan", serif;

$font-titulo:"Dosis", sans-serif;