.footer {
    font-family: $font-titulo;
    position: absolute; // Sacar el footer del flujo normal
    width: 100%; // Ancho completo del footer
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 7px;

    .p-footer {
        text-align: center;
        span{
            font-size: 18px;
            color: white;
            opacity: 0;
            transition: opacity 2.13s ease-in-out;
            cursor: pointer;
            &:hover{
                opacity: 1;
            }
        }
    }
}