.main{
    .proyectos{
        width: 100%;
        .titulos{
            .hr-titulos{
                width: 28%;
            }
        }
        .sitioweb{
            display: flex;
            video{
                width: 61%;
            }
            .proyecto{
                width: 39%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
        }
        .hr-proyectos{
            width: 30%;
            transform: translateX(113%);
        }
    }
    .experiencialaboral{
        width: 100%;
        .titulos{
            .hr-titulos{
                width: 28%;
            }
        }
    }
    .certificaciones{
        width: 100%;
        .titulos{
            .hr-titulos{
                width: 28%;
            }
        }
        .slider{
            width: 100%;
            img{
                width: 70vw;
                height: 80vh;
            }
        }
    }
    .contacto{
        .titulos{
            h2{
                text-align: center;
            }
            .hr-titulos{
                width: 40%;
                transform: translateX(80%);
            }
        }
        .parrafo-contacto{
            text-align: center;
        }
        .links{
            display: flex;
            justify-content: center;
        }
    }
}