.main {
    .proyectos {
        margin-top: 13px;

        @extend %titulosproyectos;

        .sitioweb {
            @include sitioweb (none);

            .proyecto {
                text-align: right;
                .l {
                    text-decoration: none !important;
                    font-family: $font-titulo;
                    letter-spacing: 1px;
                    color: rgba(255, 255, 255, 0.693);
                    transition: all 0.4s linear;

                    &:hover {
                    color: white;
                    }
                }
            }
        }

        .videojuegos {
            @include sitioweb;

            .vid {
                position: relative;

                canvas#v {
                    z-index: 0;
                    position: absolute;
                    opacity: 0.5;
                    height: 100%;
                    transform: translateY(-50px)
                }
            }
        }

        .historia {
            @include sitioweb (none);
            .proyecto{
                text-align: right;
            }
        }

        .javascript {
            @include sitioweb;

            .proyecto {
                position: relative;
                z-index: 1;

                canvas#d {
                    z-index: -1;
                    position: absolute;
                    opacity: 0.5;
                    height: 100%;
                    // transform: translateY(-50px);
                }

                .descripcion-proyecto {
                    a {
                        text-decoration: none !important;
                        font-family: $font-titulo;
                        letter-spacing: 1px;
                        color: rgba(255, 255, 255, 0.864);
                        transition: color 0.4s linear;

                        &:hover {
                            color: white;
                        }
                    }
                }
            }
        }

        .ecommerce {
            @include sitioweb (none);
            text-align: right;
        }

        .foto {
            @include sitioweb;

            .vid {
                position: relative;

                canvas#z {
                    z-index: 0;
                    position: absolute;
                    opacity: 0.8;
                    height: 100%;
                    transform: translateY(-50px)
                }
            }
        }

        .portfolio {
            @include sitioweb(none);
            text-align: right;
        }

        .music {
            @include sitioweb;

            .vid {
                position: relative;
            }

            .proyecto {
                position: relative;
                z-index: 3;
                color: white;

                canvas#m {
                    z-index: -2;
                    position: absolute;
                    opacity: 0.5;
                    height: 100%;
                    // transform: translateY(-50px)
                }
            }
        }

        .react{
            @include sitioweb(none);
            text-align: right;
        }

        .hr-pr {
            width: 27%;
            transform: translateX(130%);
            border-color: rgb(255, 255, 255);
        }
    }

    .experiencialaboral {
        @extend %titulosproyectos;
    }

    .certificaciones {
        margin-top: 13px;
        @extend %titulosproyectos;

        @extend %carrousel;
    }

    .contacto {
        margin-top: 20px;
        @extend %titulosproyectos;
        height: 97vh;
        display: flex;
        flex-direction: column;
        position: relative;

        canvas {
            z-index: -1;
            position: absolute;
            margin-top: 43px;
            opacity: 0.7;
        }

        #container {
            display: none !important;
        }


        h2 {
            text-align: center;
        }

        .hr-titulos {
            transform: translateX(130%);
        }


        .parrafo-contacto {
            margin-top: 10%;
            text-align: center;
        }

        .links {
            display: flex;
            justify-content: center;
            margin-top: 18%;

            a {
                color: rgba(255, 255, 257, 0.413);
                font-size: 39px;
                padding: 23px;
                @extend %hover;

                &:hover {
                    color: white;
                }
            }
        }

    }
}