.main {
    .proyectos {
        margin-top: 13px;

        @extend %titulosproyectos;

        .sitioweb {
            @include sitioweb (none);
        }

        .videojuegos {
            @include sitioweb;
        }

        .historia {
            @include sitioweb (none);
        }

        .javascript {
            @include sitioweb;
        }

        .ecommerce {
            @include sitioweb (none);
        }

        .foto {
            @include sitioweb;

        }

        .portfolio {
            @include sitioweb(none);
        }
        .hr-pr{
            width: 27%;
            transform: translateX(130%);
            border-color: rgba(255, 255, 255, 0.39);
        }
    }

    .experiencialaboral {
        @extend %titulosproyectos;
    }

    .certificaciones {
        margin-top: 13px;
        @extend %titulosproyectos;

        .slider {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 13px;
            margin-bottom: 60px;
            img {
                width: 70vw;
                height: 80vh;
            }
        }
    }

    .contacto {
        margin-top: 20px;
        @extend %titulosproyectos;
        height: 97vh;
        display: flex;
        flex-direction: column;
        position: relative; 
        canvas{
            z-index: -1;
            position: absolute;
            margin-top: 43px;
            opacity: 0.7;
        }
        h2 {
            text-align: center;
        }

        .hr-titulos {
            transform: translateX(130%);
        }


        .parrafo-contacto {
            margin-top: 10%;
            text-align: center;
        }

        .links {
            display: flex;
            justify-content: center;
            margin-top: 10%;
            a {
                color: rgba(255, 255, 255, 0.736);
                font-size: 39px;
                padding: 23px;
                &:hover{
                    color: white;
                }
            }
        }
        
    }
}