.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .left {
        display: flex;
        list-style-type: none;
        align-items: flex-start;
        max-width: 300px;

        &:hover {
            color: white;
        }

        .mh {
            font-size: 13px;
            font-family: $font-nav;
            padding: 13px;
            cursor: pointer;
            margin-left: 13px;
            margin-top: 10px;
            position: relative;
            overflow: hidden;

            span {
                display: inline-block;
                color: rgba(255, 255, 255, 0.842);
                

                transition: opacity 0.3s ease;
            }

            // Al hacer hover, muestra el contenido real
            &:hover span {
                color: white;
            }
        }
    }

    .right {
        display: flex;
       min-width: 760px;
        li {
            list-style-type: none;
            padding: 31px;
            margin-top: 20px;

            a {
                color: $color-text;
                font-size: 23px;
                font-family: $font-nav;
                cursor: pointer;
                @extend %hover;

                &:hover {
                    color: white;
                }
            }
        }

        .switch-container {
            @extend %switch;
            position: relative; /* Posición relativa para establecer una posición inicial */
        margin-top: 10px;
        }
    }

}