*{
    margin: 0;
    padding: 0;
    ::-webkit-scrollbar {
        width: 6px; /* Ancho de la barra de desplazamiento */
    }
    
    ::-webkit-scrollbar-track {
        background-color: #000000a1; /* Color de fondo de la pista de desplazamiento */
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #fdfdfd; /* Color del botón de desplazamiento */
        border-radius: 5px; /* Radio de borde del botón de desplazamiento */
    }
}

body{
    background-color: black;
    color: $color-text;
    overflow-x: hidden;

    #backToTopBtn {
        position: fixed;
        bottom: 20px; /* Distancia desde el borde inferior */
        left: 20px; /* Distancia desde el borde derecho */
        z-index: 99;
        display: none; /* Por defecto oculto */
        font-size: 30px;
      
        background-color: transparent;
        color:rgba(255, 255, 255, 0.484);
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: opacity 0.3s ease-in-out; /* Aplicar transición a la opacidad */
    
        &:hover{
            color: white;
        }
    
        &.fade-in {
            opacity: 1; /* Mostrar el botón con opacidad completa */
        }
    }
}
